*{
	position: relative;
	box-sizing: border-box;
}
html,body{
	font-family: Lato;
}
h1,h2,h3,h4,h5,h6{
	font-family: Baloo Thambi;
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
	font-size: 17px;
    line-height: 34px;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #333;
}
li{
	display: inline-block;
	color: #fff;


}


/*layout*/
.container{
	/*border: 1px solid #ccc;*/
	max-width: 1200px;
	width: 100%;
	margin:  0 auto;
	height: 100%;
	
	padding-right: 15px;
	padding-left: 15px;

}


.row{
	/*border: 1px solid red;*/
	margin: 30px 60px;
}
.row:after{
	content: '';
	display: block;
	clear: both;
}
.row1{
	background-color: #EAEAEA;
	padding: 20px 10px;
	border-radius: 10px;
}
.row2{
	margin: 30px 0px;
}
.col-1-2{
	width: 50%;
}


.col-1-3{
	width: 33.333333%;
}


.col-1-4{
	width: 25%;
}

.col-1-2,.col-1-3,.col-1-4{
	float: left;
	/*border: 1px solid red;*/
	padding-left: 16px;
	padding-right: 16px;
}
.col-1-2-1{
	float: right;
	width: 60%;
}

.col-1-3-1{
	float: right;

}
.col-1-3-2{
	display: flex;
	justify-content: center;
	padding: 0 4px;

}
.col-1-4-1{
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
}

@media (max-width: 768px){
	.col-md-1-2{
		width: 50%;
	}
	.col-md-1-1{
		width: 100%;
		margin-bottom: 8px
	}
	
}
@media (max-width: 576px){
	.col-sm-1-2{
		width: 50%;
	}
	.col-sm-1-1{
		width: 100%;
		margin-bottom: 8px
	}
	.row-sm{
		margin: 30px 0px;	
	}
}
/*Components*/
.navbar{
	width: 100%;
	height: 120px;
	background: linear-gradient(to right, rgb(102, 125, 182), rgb(0, 130, 200), rgb(0, 130, 200), rgb(102, 125, 182));
	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 500;
	transition: all 0.3s;
}

.navbar.active{
	height: 80px;
}

.navbar .brand{
	position: absolute;
	left: 0;
	top: 10px;
	right: 0;
	margin: auto;
	width: 200px;
	height: 100px;
	background-image: url('../images/Animal3.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	transition: all 0.3s;
	opacity: 1;
	
}

.navbar .brand-1{
	position: absolute;
	left: 0;
	top: 10px;
	right: 0;
	margin: auto;
	width: 200px;
	height: 100px;
	background-image: url('../images/Animal3.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	transition: all 0.3s;
	opacity: 0;
}

.navbar.active .brand{
	width: 180px;
	height: 80px;
	top: 0;
}
.navbar .nav{
	padding:0 15px;
}
.navbar .nav-left{
	float: left;

}

.navbar .nav-left .nav-item{
	float: right;
}

.navbar .nav-right{
	float: right;

}

.navbar .nav-right .nav-item{
	float: left;
}

.navbar .nav-link{
	line-height: 20px;
	display: inline-block;
	padding: 60px 40px 40px;
	color: #fefefe;
	transition: all 0.3s;

}
.navbar.active .nav-link{
	line-height: 15px;
	padding: 40px 30px 25px;
}

.navbar .nav-link:hover{
	background-color: #b92b27;
}

@media (max-width: 768px){
	.navbar{
		width: 100%;
		height: 120px;
		background: linear-gradient(to right, rgb(102, 125, 182), rgb(0, 130, 200), rgb(0, 130, 200), rgb(102, 125, 182));
		
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 500;
		transition: all 0.3s;
	}
	
	.navbar.active{
		height: 80px;
	}
	.navbar .brand-1{
		opacity: 1;	
}
	.navbar.active .brand-1{
		width: 180px;
		height: 80px;
		top: 0px;
}
	.navbar .brand{
		width: 350px;
		height: 150px;
}
	.navbar .nav{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 500;

		display: flex;
		justify-content: center;
		flex-direction: column;
		
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
	}
	.navbar .nav.active{
		opacity: 1;
		visibility: visible;
	}


	.navbar .nav .nav-item{
		float: none;
		top: 50px;
		width: 100%;
	}
	.navbar .nav .nav-item .nav-link{
		width: 100%;
		padding: 16px 16px;
		text-align: center;
	}
	.navbar .nav-link{
		line-height: 50px;
		font-size: 36px;
	}
}
@media (max-width: 576px){
	.navbar{
		height: 80px;
	}
	.navbar .brand-1{
		top: 0;
		opacity: 1;	
	}
	.navbar.active .brand-1{
		width: 180px;
		height: 80px;
		top: 0px;
	}
	.navbar .brand{
		width: 250px;
		height: 150px;
	}
	.navbar .nav .nav-item{
		float: none;
		top: 5px;
		width: 100%;
	}
	.navbar .nav .nav-item .nav-link{
		width: 100%;
		padding: 10px 16px;
		text-align: center;
		line-height: 40px;
		font-size: 30px;
	}
}

/* menu-toggle */
.menu-toggle{
	width: 60px;
	height: 60px;
	float: right;
	margin-top: 36px;
	padding: 12px 8px;
	display: none;
	z-index: 600;
	transition: all 0.3s;
}

@media (max-width: 768px){
	.menu-toggle{
		display: block;
	}
}
.menu-toggle span{
	width: 42px;
	height: 3px;
	display: block;
	background-color: #d5a26f;
	/*margin-bottom: 8px;*/
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	transition: all 0.3s;
}

.navbar.active .menu-toggle{
	margin-top: 16px;
}
.menu-toggle span:nth-child(1){
	top: 8px;
}
.menu-toggle.active span:nth-child(1){
	width: 50px;
	top: 50%;
	transform: translate(-50%,-50%) rotate(45deg);
}
.menu-toggle span:nth-child(2){
	top: 24px;
}
.menu-toggle.active span:nth-child(2){
	opacity: 0;
}
.menu-toggle span:nth-child(3){
	top: 40px;
}
.menu-toggle.active span:nth-child(3){
	width: 50px;
	top: 50%;
	transform: translate(-50%,-50%) rotate(-45deg);
}
@media (max-width: 576px){
	.menu-toggle{
		margin-top: 18px;
		padding: 12px 8px;
	}
}
/* owl-carousel */
.owl-theme .owl-dots{
	display: flex;
	justify-content: center;
	margin-top: 24px;
}
@media (max-width: 768px){
	.owl-theme .owl-dots{
		margin-bottom: 24px;
	}
}
.owl-theme button.owl-dot{
	display: inline-block;
	vertical-align: top;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #ccc;
	outline: none;
	margin: 0 4px;
}
.owl-theme button.owl-dot.active{
	background-color: #d5a26f;
}
.owl-theme .owl-nav{
	position: absolute;
	top: calc((100% - 106px) / 2);
	width: 100%;
}
.owl-theme .owl-nav button.owl-prev,
.owl-theme .owl-nav button.owl-next{
	width: 50px;
	height: 50px;
	background-color: rgb(0, 130, 200);
	outline: none;
	color: #fff;
	box-shadow: 0 3px 5px rgba(0,0,0,0);
	position: absolute;
	transform: translate(0,-50%);
	top: 0;
	opacity: 0.5;
	transition: all 0.3s;
}
.owl-theme .owl-nav button.owl-prev{
	background-image: url('../images/chevron-left.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border-radius: 20px 0px 0px 20px;
}
.owl-theme .owl-nav button.owl-next{
	background-image: url('../images/chevron-right.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border-radius: 0px 20px 20px 0px;
}
.owl-theme .owl-nav button.owl-prev span,
.owl-theme .owl-nav button.owl-next span{
	display: none;
}

.owl-theme:hover .owl-nav button.owl-prev,
.owl-theme:hover .owl-nav button.owl-next{
	opacity: 1;
}
@media (max-width: 768px){
	.owl-theme .owl-nav button.owl-prev,
	.owl-theme .owl-nav button.owl-next{
		opacity: 1;
	}
}
.owl-theme .owl-nav button.owl-prev{
	left: -40px;
}
.owl-theme .owl-nav button.owl-next{
	right: -40px;
}
.A{
	background-image: url(../images/cartoonbones1.png);
	background-repeat: no-repeat;
	height: 500px;
	width: 200px;
	background-position: center;
	position: absolute;
	left: 0;
	top: 50%;
}
.B{
	background-image: url(../images/cartoonbones2.png);
	background-repeat: no-repeat;
	height: 500px;
	width: 200px;
	background-position: center;
	position: absolute;
	right: 0;
	top: 50%;
}

/*hero*/
.hero{
	padding-top: 50px;
	padding-bottom: 80px;
}
.hero1{
	padding-top: 100px;
	padding-bottom: 140px;
}

@media (max-width: 768px){
	.hero{
		padding-top: 40px;
		padding-bottom: 70px;
	}
}

.hero2{
	background-color: #F5F3EE;
}

.hero3{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}



.big-title{
	position: absolute;
	border: 10px solid#fff;
	border-radius: 100%;
	padding: 40px 70px;
	top: -8%;
	left: 50%;
	transform: translate(-50%,0);
	display: inline-block;
	background-color: #9a8478;
	background-image: url('https://ingridkuhn.com/themes/petz/img/illustrations/pattern.png');
	
}
@media (max-width: 768px){
	.big-title{
		top: -3%;
	}
}
.big-title .title{
	color: #ccc;
	font-size: 60px;
	font-family: Baloo Thambi;
}
@media (max-width: 576px){
	.big-title{
		top: -6%;
	}
	.big-title .title{
		color: #ccc;
		font-size: 45px;
	}
}
/* jumbotron */
.jumbotron{
	padding-top: 500px;
	padding-bottom: 320px;
	background-image: url('..//images/jumbotrom2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.Record-jumbotron{
	padding-top: 350px;
	padding-bottom: 200px;
	background-image: url('..//images/jumbotrom4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media (max-width: 768px){
	.jumbotron{
		padding-top: 350px;
		padding-bottom: 170px;
	}
}

@media (max-width: 576px){
	.jumbotron{
		padding-top: 300px;
		padding-bottom: 100px;
	}
}
.banner{
	position: absolute;
	top: 10px;
	left: 0;
	width: 1000px;
	height: 810px;
	background: linear-gradient(30deg,#fc7e03 100%,transparent 0.1%);
	opacity:0.8;
	border-radius: 410px;
	margin-left: -400px;

}


.banner .banner-item{
	display: block;
	margin-top: 300px;
	margin-right: 150px;
	float: right;
	text-align: center;

}


.banner-item .title{
	font-size: 	80px;
	line-height: 65px;
	color: #fefefe;
	margin-bottom: 60px;
}

.banner-item .para{
	font-family: Lato;
	font-size: 	20px;
	line-height: 40px;
	color: #fefefe;
	margin-bottom: 80px;

}

@media (max-width: 768px){
	.banner{
		position: absolute;
		top: 400px;
		left: 50%;
		width: 100%;
		height: 80px;
		transform: translate(0,-50%);
		background: #fc7e03 ;
		opacity:0.8;
		border-radius: 0;
		margin-left: -384px;


	}
	.banner .banner-item{
		display:block;
		float: none;
		margin: 0 ;
		text-align: center;
}
	.banner-item .title{
		display: inline-block;
		font-size: 	50px;
		line-height: 80px;
		color: #fefefe;
		margin: 0 ;
		text-align: center;
	}
	.banner-item .para,.banner-item .btn{
		display: none;
	}
}



@media (max-width: 576px){
	.banner{
		position: absolute;
		top: 315px;
		width: 100%;
		height: 60px;
		transform: translate(-50%,-50%);
		background: #fc7e03 ;
		opacity:0.8;
		border-radius: 0;
		display: block;
		margin: 0 auto;


	}
	.banner .banner-item{
		display:block;
		float: none;
		margin: 0 ;
		text-align: center;
		
}
	.banner-item .title{
		display: inline-block;
		font-size: 	50px;
		line-height: 60px;
		color: #fefefe;
		margin: 0 ;
		text-align: center;
	}
	.banner-item .para,.banner-item .btn{
		display: none;
	}
}


/* btn */
.btn{
	color: #fefefe;
	background-color: rgb(0, 130, 200);
	display: inline-block;
	font-size: 20px;
	line-height: 40px;
	padding: 4px 16px;
	border-radius: 20px;
	/*box-shadow:  -10px 0 0 #c31432;*/
	border-left:5px solid #89253e;
	transition: all 0.3s;
}

.btn:hover{
	background-color:#605C3C;
	/*box-shadow:  -10px 0 0 #c0392b;*/
	transform: translate(-5px,0px);
	border-left:0px solid #89253e;
}

.btn2{
	color: #fefefe;
	background-color: #FDC830;
	display: inline-block;
	font-size: 20px;
	line-height: 40px;
	padding: 4px 16px;
	border-radius: 4px;
	transition: all 0.5s;
}
.btn2:hover{
	background-color: #11998e;
}

.btn-sm{
	color: #fefefe;
	background-color: rgb(0, 130, 200);
	display: inline-block;
	font-size: 20px;
	line-height: 40px;
	padding: 4px 8px;
	border-radius: 20px;
	/*box-shadow:  -10px 0 0 #c31432;*/
	border-left:5px solid #89253e;
	transition: all 0.3s;
}
/*ratings*/

.ratings {
	vertical-align: middle;
	display: inline-block;
	color: #ddd; /*背景星星顏色*/
	overflow: hidden;
	font-size: 20px; /*調整字體大小可放大縮小星星*/
	text-shadow: 0px 1px 0 #999;

}
.full_star {
	width: 90%; /*調整寬度可變更星等*/
	white-space: nowrap;
	overflow: hidden;
	color: #D56A16; /*前景星星顏色*/

}

/* section-intro */
.section-intro{
	text-align: center;
	margin-bottom: 40px;
}

.section-intro .title{
	font-family: Baloo Thambi;
	font-size: 70px;
	color: #2a7886;
	margin-bottom: 24px;
}

.section-intro .title:before{
    content: '';
    width: 50px;
    height: 5px;
    background-color: #5A3F37;
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
}

.section-intro .title:after{
    content: '';
    width: 50px;
    height: 5px;
    background-color: #5A3F37;
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
}
.section-intro .para{
	font-size: 16px;
	line-height: 32px;
	color: #000;
}
@media (max-width: 576px){
	.section-intro{
		margin-bottom: 20px;
	}
	.section-intro .title{
		font-size: 38px;
		margin-bottom: 20px;
	}
	
	.section-intro .title:before{
		width: 8px;
		height: 5px;
		margin: 8px;
	}
	
	.section-intro .title:after{
		width: 10px;
		height: 5px;
		margin: 8px;
	}
	.section-intro .para{
		font-size: 12px;
		line-height: 20px;
	}
}
/* image-container */
.image-container{
	/*border: 1px solid blue;*/
	overflow: hidden;
	border-radius: 20px;
}
.image-container:before{
	content: '';
	display: block;
	width: 100%;
	padding-top: 75%;
}
.image-container .image{
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: transform 2s;
	transform-style: preserve-3d;
}

.item:hover .service-item .image-container .image{
	transform: scale3d(1.2, 1.2, 1) rotate(7deg);

}
@media (max-width: 576px){
	.image-container .image{
		width: 100%;
		height: 100%;
	}
}
/*icon-container*/
.about-item .icon-container{
	border: 6px solid #d5a26f;
	padding: 80px 80px;
	border-radius: 100%;
	margin: auto;
	transition: all 0.5s;
	margin: 20px 20px;
}
.about-item .icon-container:hover{
	background-color: #fffcdc;
	transform: scale(1.1);
}



.about-item .icon-container:before{
	content: '';
	display: block;
	width: 100%;
	padding-top: 75%;
}

.icon-container .icon{
	color: #d5a26f;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	transform: translate(-50%,-50%);
	/*border: 1px solid yellow;*/

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.5s;
}
.icon-container:hover .icon{
	color: #fefefe;	
	width: 70%;
	height: 70%;
}


/* service-item */


.service-item{
	margin: 8px 8px;
	border-radius: 30px;
	background-color: #F2F2F2;
	padding-bottom: 30px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}
.news{
	background-color:#108896 ;
}

.service-item .preview{
	padding: 0 8px;
	padding-top: 16px;
	text-align: center;
}
.service-item .title{
	text-align: center;
	font-size: 40px;
	margin-bottom: 8px;
	color: #333;
}

.service-item .title2{
	color: #fefefe;
}
@media (max-width: 768px){
	.service-item .title{
		font-size: 40px
	}
}
.service-item .para{
	font-family: Lato;
	text-align: center;
	color: #333;
	font-size: 17px;
	line-height: 34px;
	margin-bottom: 24px;
	margin-left: 10px;
	margin-right: 10px;

}

.service-item .para2{
	color: #fefefe;
}
@media (max-width: 576px){
	
	.service-item .preview{
		padding: 0 8px;
	}
	.service-item .title{
		text-align: center;
		font-size: 32px;
	}
	.service-item .para{
		font-size: 14px;
		line-height: 25px;
	}
}

/*ABOUT*/
.about-preview .title{
	text-align: center;
	font-size: 40px;
	margin-bottom: 8px;
	color: #333;
}

.about-preview .para{
	font-family: Lato;
	text-align: center;
	color: #333;
	font-size: 17px;
	line-height: 34px;
	margin-bottom: 24px;
	margin-left: 10px;
	margin-right: 10px;

}
.about-item{
	display: inline-block;
}

.about-item .preview{
	padding-top: 16px;
	text-align: center;
}
.about-item .title{
	text-align: center;
	font-size: 26px;
	margin-bottom: 8px;
	color: #333;

}

.about-item .para{
	font-family: Lato;
	text-align: center;
	color: #989797;
	font-size: 17px;
	line-height: 34px;
	padding: :0 10px;

}
.about-image .image-container .image2{
	position: absolute;
	top: 55%;
	left: -10%;
	width: 40%;
	height: 40%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: 100;
	transition: all 0.5s;
}

.about-image .image-container .image3{
	position: absolute;
	top: 0;
	left: 10%;
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
@media (max-width: 576px){
	.about-preview .title{
		font-size: 32px;
	}
}
/*foodmove*/
.about-image.active .image-container .image2{
	position: absolute;
	top: 55%;
	left: 5%;
	width: 40%;
	height: 40%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}.about-image.active2 .image-container .image2{
	position: absolute;
	top: 55%;
	left: 15%;
	width: 40%;
	height: 40%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}.about-image.active3 .image-container .image2{
	position: absolute;
	top: 55%;
	left: 20%;
	width: 40%;
	height: 40%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}



/*Prices*/

.prices-item .preview{
	margin-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	border-radius: 10px;
	border: 0.5px solid#DBDBDB;
}

.prices-item .preview:hover{
background-color: #DBDBDB
}

.prices-item .title{
	background-color: #333;
	text-align: center;
	font-size: 36px;
	color: #fff;
	padding: 10px 0;
	border-radius: 10px 10px 0 0 ;

}

.prices-item .subtitle{
	background-color: #DBDBDB;
	text-align: center;
	font-size: 30px;
	color: #1c92d2;
	padding: 5px 20px;
	font-family: 微軟正黑體;

}

.prices-item .para{
	font-family: Lato;
	text-align: center;
	color: #989797;
	font-size: 20px;
	line-height: 50px;
	padding: :0 10px;

}

/*room*/
.room-preview{
	margin-top: 20px;
	margin-left: 20px;
}
.room-preview .title{
	font-size: 40px;
	margin-bottom: 8px;
	color: #333;
	float: left;
}
.room-preview .ratings{
	float: right;
	margin-right: 45px;
	margin-top: 6px;
	font-size: 25px;
}
.room-preview .para{
	font-family: Lato;
	color: #333;
	font-size: 17px;
	line-height: 34px;
	margin-bottom: 24px;
	margin-right: 10px;
}
.title-bar .btn2{
	float: left;
}

.title-bar .subtitle{
	float: right;
	font-weight: bold;
	font-size: 30px;
	line-height: 50px;
	color: #1c92d2;
	padding: 0 60px;
	font-family: 微軟正黑體;
}
.title-bar:after{
	content: "";
	display: block;
	clear: both;
}

#room1-intro{
	display: block;
}
#room2-intro{
	display: none;
}
#room3-intro{
	display: none;
}

.room-item{
	display: inline-block;


}

.room-item .icon-container{
	border: 0.5px solid #333;
	border-radius: 100%;
	padding: 40px 40px;
	text-align: center;

}


.room-item .icon-container .icon{
	color: #d5a26f;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	transform: translate(-50%,-50%);
	/*border: 1px solid yellow;*/

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.5s;
}

.room-item .title1{
	display: inline-block;
	font-size: 20px;
	text-align: center;
}
.room-intro{
	display: block;
	text-align: center;
}

.room-intro .subtitle{
	font-weight: bold;
	font-size: 30px;
	line-height: 50px;
	color: #333;
	padding: 0 20px;
	font-family:Lato ;
	text-align: center;
}
@media (max-width: 576px){
	.room-preview .title{
		font-size: 35px;
	}
	.room-preview .ratings{
		float: none;
	}
	.room-item .icon-container{
		padding: 30px 30px;
	
	}
	.room-item .icon-container .icon{
		width: 30px;
		height: 30px;	
	}
	.room-item .title1{
		font-size: 13px;
		
	}
	.room-intro .subtitle{
		font-size: 12px;
		line-height: 30px;
		padding: 0 ;
	}
}


/*catagoris*/
.catagoris{
	/*border: 1px solid red;*/
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
}
.catagoris:after{
	content: '';
	display: block;
	clear: both;
}	

/*team-intro*/
.team-intro{
	text-align: center;
	padding: 40px 0;

}
.team-intro .image-container{
	display: inline-block;
	border: 1px solid#000;
	padding: 180px 100px;
	margin: 0 auto;
}
.team-intro .image-container:before{
	content: "";
	display: block;
	width: 100%;
	padding-top: 75%;
}

.team-intro .image-container .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.team-intro .preview{
	margin-top: 5px;
	padding-bottom: 5px;
	text-align:center;
}

.team-intro .title{
	text-align: center;
	font-size: 36px;
	color: #000;

}

.team-intro .subtitle{
	text-align: center;
	font-size: 20px;
	color: #1c92d2;
	padding: 0px 20px;
	font-family: 微軟正黑體;

}
/* mask */
.mask-dark{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(230, 68, 51,0.7);
	z-index: 100;
	opacity: 0;
	transition: all 0.3s;
}
.mask-dark:hover{
	opacity: 1;
}

.mask-dark .subtitle{
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
	color: #333;
	font-family: 微軟正黑體;

}
.mask-dark .subtitle:after{
	content: '';
	display: block;
	clear: both;
}
.icon-team{
	margin: 5px 6px;
	position: absolute;
	width: 100%;
	left: 50%;
	top: 80%;
	transform: translate(-50%,-50%);
}
.icon-team .sm-image{
	margin: 0px 8px;
	padding: 15px;
	width: 25%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.5;
}

/*contact*/
.contact-item{
	padding-bottom: 30px;
}

.contact-item .title{
	text-align: center;
	font-size: 40px;
	margin-bottom: 10px;
}
.contact-item .para{
	font-family: Lato;
	color: #333;
	font-size: 16px;
	line-height: 34px;
	margin-bottom: 24px;
	margin-left: 5px;
	margin-right: 5px;
}

.contact-item .list-inline{
	padding: 15px -5px;
	display: inline-block;
}

.contact-item .list-inline li{
	color: #000;
	font-size: 16px;
	padding: 0 5px;
}
.contact_form{
	text-align: center;
}
.contact_form .form-group{
	display: block;
	margin: 0 auto;
}

.contact_form .form-group label{
	text-align: left;
	display: block;
	max-width: 100%;
	color: #000;
	margin-bottom: 5px;
}

.form__label{
	float: left;
}
.contact_form .form-group .form-control{
	display: block;
    width: 100%;
    height: 44px;
    border-radius: 10px;
    font-size: 16px;
    border: 2px solid;
    margin-bottom: 15px;
}
.contact_form .form-group .textarea-field{
	height: auto;	
}
@media (max-width: 576px){
	.contact-item .title{
		font-size: 32px;
		
	}
}

/*map*/
.map{
	display: flex;
	margin: 0 auto;
}


/*footer*/
.footer{
	background-color: #363636;
	padding: 20px 0px;
	margin: 0 auto;
}
.footer .brand{
	margin: 30px 0;
	width: 300px;
	height: 100px;
	background-image: url('../images/Animal3.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.footer .information-item{
	align-items: center;
	text-align: center;
	padding: 15px 0px;
}
.footer .information-item .information{
	padding: 20px 0;
}
.footer .information-item .information a,li{
	color: #fff;
}
.footer .title{
	display: inline-block;
	color: #fff;
	font-size: 32px;
}
.footer .icon-team{
	display: inline-block;
	text-align: center;
	width: 100%;
	transform: translate(-50%,80px);
}
.footer .icon-team .sm-image{
	padding: 30px;
	width: 25%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 768px){
	.footer .brand{
		margin: 0;
	}
	
	.footer .information-item{
		padding: 0;
	}
	.footer .information-item .information{
		padding: 0px;
	}
	.footer .title{
		font-size: 20px;
		margin-bottom: 30px;
	}
	.footer .icon-team{
		transform: translate(-50%,8px);
		margin-bottom: 30px;
	}
	.footer .icon-team .sm-image{
		padding: 15px;
		width: 15%;
	}
}

.footer .copyright{
	background-color: rgba(0,0,0,0.8);
	color: #ddd;
	text-align: center;
	line-height: 20px;
	padding: 16px 0;
	font-size: 14px;
}

@media (max-width: 768px){
	.footer .copyright{
		padding: 10px 0;
	}
}










